   
html, body, .container-fluid, .content-row {
    height: 100%;
}
body{

    background-image: url("./weatherApp1.jpeg");
}
.hide {
    display: none;
}

.city-btn:hover {
    background-color: #f6f5f5;
    cursor: pointer;
}

.card {
    background-color: #cce5ff;
}

.iconsize {

    max-height: 25px;
    max-width: 25px;
}